---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedinIcon from '../components/icons/LinkedIn.astro'
import GithubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro'
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import CpuIcon from '../components/icons/Cpu.astro'
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro'
---

<Layout title="Oriol Sepúlveda - Desarrollador y Programador Web" description="2+ años de experiencia">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-16 mb-4"
        src="https://avatars.githubusercontent.com/u/64012796?v=4"
        alt="oriol photo"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, I'm Oriol <a
          href="https://www.linkedin.com/in/oriol-sepulveda/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"><Badge>Available to work</Badge></a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Frontend developer. </span>
        <span class="text-purple-400/90"> 2+ year of experience.</span>
        <span class="opacity-80">
          I am a very proactive person eager to learn, very good teamworker and meticulous.
        </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/oriol-sepulveda/">
          <LinkedinIcon class="size-6 md:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://www.github.com/Hagaren5">
          <GithubIcon class="size-6 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:oriolsm93@gmail.com">
          <MailIcon class="size-6 md:size-6" />
          oriolsm93@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center">
        <CpuIcon class="size-8" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

  </main>
</Layout>
