---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import LinkedinIcon from '../components/icons/LinkedIn.astro'
import GithubIcon from '../components/icons/Github.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
			class="rounded-full w-16 h-16 mb-4" 
			src="https://avatars.githubusercontent.com/u/64012796?v=4" 
			alt="oriol photo"
		/>
		<h1 class="text-white text-5xl font-bold flex flex-row  gap-x-4 pb-4">
			Hey, I'm Oriol <a href="https://www.linkedin.com/in/oriol-sepulveda/" target="_blank"  rel="noopener"
			class="flex justify-center items-center"><Badge>Available to work</Badge></a></h1>
		<h2 class="text-xl text-wrap"> 
			<span>Frontend developer. </span>
			<span class="text-purple-400/90"> 2+ year of experience.</span> 
			<span class="opacity-80">I am a very proactive person eager to
				learn, very good teamworker and
				meticulous.
			</span> 
		</h2>

		<ul>
			<li>
				<a href="https://www.linkedin.com/in/oriol-sepulveda/" target="_blank">
					<LinkedinIcon class="w-6 h-6"/>
					LinkedIn
				</a>
			</li>
			<li>
				<a href="https://github.com/Hagaren5" target="_blank">
					<GithubIcon class="w-6 h-6"/>
					Github
				</a>
			</li>
		</ul>
		</section>
		</main>
</Layout>
