<article class="text-pretty">
    <p class="pb-5">
        Hello, my name is Oriol Sepúlveda and I'm a web developer from Barcelona.
    </p>
    <p class="pb-5">
        I like to try and learn new technologies. Such as this portfolio created with <strong class="text-purple-300">Astro </strong>.
    </p>
    <p>
        In my free time, I enjoy working on my personal projects, reading a good
        <strong class="text-purple-300">book </strong>
        , and practicing <strong class="text-purple-300">martial arts</strong>. I am a Ninjitsu <strong class="text-purple-300">
             black belt</strong> and I've practiced almost every martial art that you could imagine.
        
    </p>
</article>