---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    title: 'QA Automation Engineer',
    company: 'Knowmadmood',
    date: 'September 2023 - now',
    description: [
      'Created and implemented automated test frameworks using Selenium and Python, enhancing software quality and reliability.',
      'Created clear and concise BDD test scenarios using Gherkin, improving collaboration between technical and non-technical stakeholders.',
      'Integrated automated test suites into CI/CD pipelines with Jenkins, ensuring continuous delivery of high-quality software.',
      'Managed version control and collaborative development through Git, maintaining code integrity across multiple environments.'
    ]
  },
  {
    title: 'QA Automation Engineer',
    company: 'GoTrendier',
    date: 'June 2022 - September 2023',
    description: [
      'Developed and maintained automated test cases with Cypress and JavaScript, ensuring comprehensive test coverage for web applications.',
      'Conducted thorough API testing using Postman and Karate, ensuring seamless integration and robust performance across services.',
      'Managed defect tracking and test management with JIRA, enhancing project visibility and quality assurance processes.',
      'Documented test processes and collaborated with teams using Confluence and Git, facilitating effective communication and knowledge sharing.'
    ]
  },
  {
    title: 'Fullstack developer',
    company: 'Mytic Innova',
    date: 'November 2021 - June 2022',
    description: [
      'Created robust REST APIs with Java, enhancing server-client communication and application efficiency.',
      'Conducted meticulous API endpoint testing via Postman, guaranteeing data integrity, security, and high performance.',
      'Developed and implemented extensive Jest-based frontend testing for React applications, elevating code quality and early issue detection.'
    ]
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
