---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    title: 'Fullstack developer',
    company: 'Knowmadmood',
    date: 'September 2023 - now',
    description:
      'Proficient in React development, adept at crafting responsive and dynamic user interfaces to enhance the user experience. Skilled in utilizing Git version control for efficient collaboration and code management within development teams. Experienced in conducting thorough code reviews to ensure adherence to best practices, maintain code quality, and facilitate knowledge sharing among team members. Continuously strive to optimize workflow efficiency and project outcomes through effective communication, problem-solving, and a commitment to delivering high-quality code.'
  },
  {
    title: 'Fullstack developer & QA',
    company: 'GoTrendier',
    date: 'June 2022 - September 2023',
    description: [
      'Specialized in React for building responsive and dynamic user interfaces that enhance user engagement.',
      'Proficient in Git for effective version control and collaborative coding.',
      'Advocate for high code quality through rigorous code reviews and adherence to best practices.',
      'Strong communicator with a keen focus on problem-solving to optimize workflow and ensure project excellence.',
      'Experienced in Java microservices, ensuring robust backend solutions.',
      'Upholds code standards via thorough reviews.'
    ]
  },
  {
    title: 'Fullstack developer',
    company: 'Mytic Innova',
    date: 'November 2021 - June 2022',
    description: [
      'Engineered robust REST APIs with Java, enhancing server-client communication and application efficiency.',
      'Conducted meticulous API endpoint testing via Postman, guaranteeing data integrity, security, and high performance.',
      'Developed and implemented extensive Jest-based frontend testing for React applications, elevating code quality and early issue detection.'
    ]
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
