---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    title: 'Senior QA Automation Engineer',
    company: 'Plain Concepts',
    date: 'November 2024 - now',
    description: [
      'Spearheaded the creation of a comprehensive QA automation project from scratch using SpecFlow, defining the architecture and infrastructure for scalable test automation.',
      'Managed the entire QA infrastructure, including the design and implementation of test automation frameworks and processes aligned with best practices.',
      "Designed and maintained the project's architecture, ensuring seamless integration of automated tests with development workflows.",
      'Led the development and execution of BDD test scenarios using Gherkin, ensuring clear communication and alignment between technical and business stakeholders.',
      'Utilized technologies such as Azure, Git, Visual Studio 2022, and SpecFlow to deliver robust and efficient test automation solutions.',
      'Established and optimized QA processes, enhancing the overall quality and reliability of software deliveries.'
    ]
  },
  {
    title: 'QA Automation Engineer',
    company: 'Knowmadmood',
    date: 'September 2023 - now',
    description: [
      'Developed and maintained automated test cases with Cypress and JavaScript, ensuring comprehensive test coverage for web applications.',
      'Conducted thorough API testing using Postman and Karate, ensuring seamless integration and robust performance across services.',
      'Managed defect tracking and test management with JIRA, enhancing project visibility and quality assurance processes.',
      'Documented test processes and collaborated with teams using Confluence and Git, facilitating effective communication and knowledge sharing.'
    ]
  },
  {
    title: 'QA Automation Engineer',
    company: 'GoTrendier',
    date: 'June 2022 - September 2023',
    description: [
      'Created and implemented automated test frameworks using Selenium and Python, enhancing software quality and reliability.',
      'Created clear and concise BDD test scenarios using Gherkin, improving collaboration between technical and non-technical stakeholders.',
      'Integrated automated test suites into CI/CD pipelines with Jenkins, ensuring continuous delivery of high-quality software.',
      'Managed version control and collaborative development through Git, maintaining code integrity across multiple environments.'
    ]
  },
  {
    title: 'Fullstack developer',
    company: 'Mytic Innova',
    date: 'November 2021 - June 2022',
    description: [
      'Created robust REST APIs with Java, enhancing server-client communication and application efficiency.',
      'Conducted meticulous API endpoint testing via Postman, guaranteeing data integrity, security, and high performance.',
      'Developed and implemented extensive Jest-based frontend testing for React applications, elevating code quality and early issue detection.'
    ]
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
