*{
  text-decoration: none;
}

.navigation__header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-image: linear-gradient(rgba(46, 29, 72, 255), rgba(64, 48, 107, 255));
}

.navigation__link {
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 60px;
  color: white;
}

.navigation__link:hover {
  color: red;
  font-weight: bold;
}
